<!--web.config URL rewrite-->
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Rewrite ebooks subpage">
					<match url="^ebooks/([0-9]+)" />
					<action type="Rewrite" url="index.php?location=ebooks/{R:1}" />
				</rule>
				<rule name="Rewrite ebooks page">
					<match url="^ebooks" />
					<action type="Rewrite" url="index.php?location=ebooks" />
				</rule>
				<rule name="Rewrite to querystring">
					<match url="^book/([0-9]+)" />
					<action type="Rewrite" url="index.php?location=book/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
