BODY {
	padding: 0;
	margin: 0;
}
/* Set all elements to use a more commonly convenient box-model by default */
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	/*font-family:"Times New Roman", Times, serif;*/
}



textarea {
	resize: none;
}
textarea, input:not([type]), input[type="text"] {
	border: 1px solid #999999;
}
textarea:focus, input:not([type]):focus, input[type="text"]:focus, input[type="password"]:focus {
	-webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 300ms ;
	-moz-transition: all 300ms ;
	-ms-transition: all 300ms ;
	-o-transition: all 300ms ;
	transition: all 300ms ;
	outline: 0;
}
input[type="submit"], input[type="button"], select {
	cursor: pointer;
	border: 1px solid #999999;
	background-color: #EEEEEE;
	-webkit-transition: all 300ms ;
	-moz-transition: all 300ms ;
	-ms-transition: all 300ms ;
	-o-transition: all 300ms ;
	transition: all 300ms ;
}

input[type="submit"]:hover, input[type="button"]:hover, select:hover {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	background-color: #fff;
}



img { vertical-align: top }

.remove_a_style:link {
	color: inherit;
	text-decoration: none;
}
.remove_a_style:visited {
	color: inherit;
	text-decoration: none;
}

.center_cont {
	width: 100%;
	text-align: center;
}

.no_select {
	-webkit-user-select: none;     
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
