.guess-contest-panel {
  border: 1px solid #CCC;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.guess-contest-panel .panel-heading {
  background-color: #B73333;
  color: #EEE;
}
.guess-contest-box {
  position: relative;
}
.guess-contest-box .letter-boxes-holder {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.guess-contest-box .letter-boxes-holder.guessing .letter-box {
  color: #CCC;
}
.guess-contest-box .inputs-holder {
  text-align: center;
}
.guess-contest-box .description-holder {
  text-align: center;
}
.guess-contest-box .description-holder > .inner {
  display: inline-block;
  margin: 5px;
  margin-top: 0;
  padding: 5px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.guess-contest-box .question-holder {
  color: #555;
  text-align: center;
  margin-bottom: 10px;
}
.guess-contest-box .letter-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: top;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 2px solid #aaaaaa;
  border-right: 2px solid #aaaaaa;
  font-family: sans-serif;
  font-weight: bold;
}
.guess-contest-box .winners-prize {
  text-align: center;
}
.guess-contest-box .winners-col {
  position: relative;
  z-index: 2;
}
.guess-contest-box .winners-col .container-fluid {
  margin: -15px;
  margin-bottom: 15px;
}
.guess-contest-box .winners-col .embed-responsive-fish {
  position: absolute;
  width: 100%;
}
.guess-contest-box .winners-col .winners-roll {
  margin-top: 15px;
  max-height: 60px;
  overflow-y: auto;
}
.guess-contest-box .winners-col-placeholder {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 15px;
  padding-top: 15px;
  height: 100%;
  background-color: #f7f7f7;
  border-left: 1px solid #ccc;
}
.guess-contest-box .description-col {
  position: absolute;
  top: 0;
  padding-top: 15px;
  border-right: 1px solid #ccc;
  height: 100%;
  background-color: #f7f7f7;
}
.guess-contest-box .money-tiles {
  /*
		@border-thin: 1px solid #339900;
		@border-thick: 2px solid #339900;
		@background: #55CC00;
		*/
  display: inline-block;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.guess-contest-box .money-tiles .tile {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  width: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: none;
}
.guess-contest-box .money-tiles .tile:last-of-type {
  border-right: 1px solid #cccccc;
}
